.breadcrumb
  padding: 0
  margin: 0
  background: none
  font-size: 0
  line-height: 1
  margin-bottom: 20px

  &__item
    &:before
      padding: 0
      content: '//'
    &:first-child:before
      padding: 0
      content: none
  &__item
  &__link
    display: inline-block
    font-size: 10px
    font-family: "Roboto Regular", sans-serif
  &__link
    color: #888
  &__item.breadcrumb__item--active
    color: main-green-color


