.company-of-month
	border-color: yellow-color
	text-align: center

	&:before
		content: ''
		display: block
		height: 125px
		background-color: yellow-color
		//background-image: url(/icons/top-company-card-img.png)
		background-repeat: no-repeat
		background-position: center
		flaticon-trophy()
		font-size: 90px
		color: #ffffff

	&__heading
		background: transparent !important
		border: none

	&__title
		font-size: 18px
		font-family: "Roboto Light", sans-serif
		color: header-text-color

	&__img
		width: 150px
		height: 100px

	&__body
		padding-top: 0