section.data
	@import "flaticons.styl"
	@import "object-recommendations.styl"
	@import "news-slider"
	@import "object-card"
	@import "share-btns"
	@import "verified-objects-slider"
	@import "shares-slider"
	@import "scandalous-object"
	@import "objects-filter-form"
	@import "filtered-objects-list"
	@import "breadcrumb"
	@import "item-logo"
	@import "object-address"
	@import "object-desc"
	@import "object-gallery"
	@import "object-header"
	@import "object-map"
	@import "object-reviews"
	@import "companies-list"
	@import "news-item"
	@import "entity-gallery"
	@import "company-info"
	@import "company-object-card"
	@import "pagination"
	@import "news-record"