.item-logo
	&__label
		color: main-green-color
		font-size: 12px
		display: block
	&__title
		margin: 0
		font-size: 14px
		color: #515151
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
	&__img
		height: 100px
		margin-bottom: 15px
		width: auto
		max-width: 100%