.main-header
	margin-bottom 15px
	border-bottom 1px solid #e1e8ee

	.brand-nav-link
		font-size 26px
		letter-spacing 1px
		white-space nowrap
		color white-text-color
		text-transform uppercase
		font-family "Roboto Black", sans-serif
		background: url(/icons/pob-logotype.svg) no-repeat left center
		height: 65px
		width: 100%
		display: block
		position: absolute
		top: -10px
		&:hover
			text-decoration none
			
	a:hover 
		color white-text-color
	&__top
		padding 8px 0
		background main-green-color

	.brand-nav-link-container
		//
	.nav-socials-container
		color: white-text-color
		padding 0 85px
			
	.support-nav-container
		color: white-text-color
		text-align right
		
	.nav-search-form-container
		border-left 1px solid white-text-color
		
	.brand-nav-link-container
	.socials__item
	.support-nav__item
	.nav-search-form
		line-height top-header-line-height

	&__bottom
		//
	// bs fixes
	.navbar-right
		margin-right 0
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
		background transparent