.nav-search-form
	position relative
	
	&__btn-search
		position absolute
		height 16px
		width 16px
		padding 0
		top 50%
		margin-top -8px
		left 8px
		background url("/icons/search-input-icon.png") center no-repeat
		border none
		
		&:hover
			background-color transparent
	&__input
		border-radius 20px
		height 30px
		padding-left 30px
		width 100%
		display inline-block