@import "../mixins/icon"
@import "../mixins/label"

.news-slider
	height: 390px
	overflow: hidden

	&__slide-container
		padding-right 0
	&__slide
	&__item
		overflow hidden
		cursor: pointer
	&__img
		height auto
		width: 100%
		
		&-container
			overflow: hidden
	&__img-wrapper
		width: 570px
		height: 390px
		overflow: hidden
		position: relative
	&__caption
		//-ms-word-break: break-all
		//word-break: break-all
		position absolute
		padding 15px
		line-height 1.25
		height 125px
		background rgba(main-green-color, 90%)
		width: 100%;
		right: 0;
		left: 0;
		bottom: 0;
		font-size 26px
		text-align left
		text-transform uppercase
		text-shadow none
		font-family "Roboto Light", sans-serif

	&__share-link
		icon-container()
		font-size 14px
		font-family "Roboto Regular", sans-serif
		text-transform none
		color white-text-color
		position absolute
		right 15px
		bottom 15px
		text-shadow: 0 0 5px #000;
		&:after
			icon("/icons/share-icon.png")
			flaticon-share()
	&__label
		label()

	&__indicators-container
		padding-left 0
	&__indicators
		position static
		margin 0
		width 100%
	&__indicator
		display: block
		border none
		border-left 3px solid transparent
		border-radius 0
		padding-left 10px
		width 100%
		height auto
		text-indent 0
		text-align left
		text-transform uppercase
		overflow hidden
		transition border 1s
		margin 0
		
		&-wrapper
			height 94px
			padding 10px
			transition background 1s
			display: inline-block
			line-height: 1
		
		&-caption
			height 55px
			overflow hidden
			font-size 15px
			font-family "Roboto Regular", sans-serif
			margin-bottom 10px
			line-height 1.25
			color #6d6d6d

		&--active
		&.active
		&:hover
			border-left-color main-green-color
			.news-slider__indicator-wrapper
				background main-green-color
			.news-slider__indicator-caption
			.news-slider__comments-count
			.news-slider__publish-date
				color white-text-color
	
	.news-slider__indicator-caption
	.news-slider__comments-count
	.news-slider__publish-date
		transition color 1s
	&__comments-count
	&__publish-date
		font-family "Roboto Medium", sans-serif
		font-size 13px
		text-transform lowercase
		white-space nowrap
		icon-container()
		color light-grey-color
		
	&__publish-date
		
		&:after
			icon("/icons/date-icon.png")
			flaticon-calendar()
	&__comments-count
		&:after
			icon("/icons/comments-count-icon.png")
			flaticon-chat-comment-oval-speech-bubble-with-text-lines()