.news-record
	&__heading
	&__title
		margin-bottom: 15px
	&__text
		font-size: 36px;
		color: #21b25f;
		font-family: "Roboto Bold", sans-serif;
		//word-break: break-all
	&__date
		padding-left: 25px
		//background: url(/icons/date-icon.png) no-repeat left top
		position: relative
		font-size: 10px
		color: #86939e
		line-height: 16px
		&:after
			position: absolute
			top: 0
			left: 0
			font-size: 14px
			flaticon-calendar()

	&__img
		width: 100%
		height: 100%

	&__pic
		width: 100%
		height: auto
