.object-header
	margin: 0
	text-align: justify
	position: relative
	//-ms-word-break: break-all
	//word-break: break-all

	&__text
		display: inline-block
		font-size: 36px
		color: main-green-color
		font-family: "Roboto Bold", sans-serif
		padding-right: 180px
	&__rating
		position: absolute
		right: 0
		top: 5px
		height: 100%
		color: yellow-color

		.glyphicon
			vertical-align: middle
