.object-reviews
	&__header
		font-size: 36px
		font-family: "Roboto Bold", sans-serif
		color: main-green-color
		margin: 25px 0
	&__list
		margin: 0
		padding: 0
		list-style: none
	&__item
		margin-bottom: 25px
		&:last-child
			margin: 0
	&__subtitle
	&__text
		font-size: 16px
		color: #515151
		padding-left: 100px
	&__subtitle
		margin: 0 0 25px
		font-family: "Roboto Bold", sans-serif
	&__text
		background: url(/icons/checked-big-img-small.png) no-repeat top left
		font-family: "Roboto Regular", sans-serif
		min-height: 80px