.object-address
	list-style: none
	margin: 0
	padding: 20px 35px
	background: main-green-color
	color: white-text-color
	font-family: "Roboto Light", sans-serif
	font-size: 16px

	&__item
		line-height: 1
		margin-top: 15px
		&:first-child
			margin: 0
	&__title
		font-family: "Roboto Bold", sans-serif
		padding-right: 5px