.sm-advert
	background: #d8d8d8
	height: 150px
	padding: 40px
	text-align: center
	-webkit-border-radius: 5px
	-moz-border-radius: 5px
	border-radius: 5px

	&__header
		font-size: 19px
		font-family: "Roboto Regular", sans-serif
		color #888
	&__dimens
		font-size: 20px
		font-family: "Roboto Regular", sans-serif
		color: #b5b5b5