.support-nav
	list-style: none
	padding: 0
	margin: 0
	font-size 0
	color inherit
	white-space nowrap

	&__item
		display inline-block
		margin-right 36px
		&:last-child
			margin 0

	&__link
		color inherit
		font-size 12px
		font-family "Roboto Regular", sans-serif
		&:hover
		&--active
			text-decoration: underline