.top-advert
	display block
	min-height 130px
	width 100%
	background #ebebeb
	text-align center
	padding 22px
	margin-bottom 20px
	font-family "Roboto Regular"
	font-weight bold

	.top-advert__header
		font-size 34px
		color ad-text-color
	.top-advert__dimens
		color ad-help-text-color
		font-size 20px