.top-companies
	border-color: yellow-color
	text-align: center

	&__heading
		background: transparent !important
		border: none

	&__title
		font-size: 18px
		font-family: "Roboto Light", sans-serif
		color: header-text-color

	&__list-img
		width: 50px
		height: 40px

	&__body
		padding-top: 0
	&__list
		margin: 0
		padding: 0
		list-style: none
	&__list-item
		margin-bottom: 10px
		text-align: left
	&__list-img
		//
	&__list-header
		font-size: 14px
		color: #737373
		font-family: "Roboto Bold", sans-serif
		margin: 0
		margin-bottom: 5px
	&__list-rating
		color: yellow-color