main-green-color = #21b25f
header-text-color = #393939
black-color = #404040
light-grey-color = #86939e
light-grey-bold-color = #555a60
lighter-grey-color = #a4a4a4
text-default-color = #4f4f4f
dark-text-color = #555a60
white-text-color = #fcfcfc
bg-color = #fff
red-color = #cb1e3f
blue-color = #358ed7
yellow-color = #ffd800

ad-text-color = #888
ad-help-text-color = #b5b5b5
sidebar-text-default-color = #737373


top-header-line-height = 50px