.constructions-map
	iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2373.58196095564!2d25.6078216574191!3d49.55229642716329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1475362403189", height="300", frameborder="0", style="border:0; width: 100%;", allowfullscreen)