.object-desc
   img.object-desc__img(src="https://placehold.it/700x300")
   .object-desc__text
      p ROYAL APARTMENTS HYDROPARK - новий житловий комплекс компанії “Вертикаль”, побудований з врахуванням потреб сучасності. Всі квартири в ROYAL APARTMENTS HYDROPARK - це житло еліт-класу. В комплексі продумано кожну дрібничку, від дитячого майданчика та інфраструктури внутрішніх двориків до склопакетів на вікнах.
      p Незабаром планується розпочати будівництво абсолютно нового, елітного та комфортного, не схожого на попередні об’єкти житлового комплексу ROYAL APARTMENTS HYDROPARK, який знаходитиметься неподалік від міського озера та матиме багато своїх унікальних переваг. На даний час проект перебуває на стадії розробки , початок будівництва планується на 2016 рік.
      p Призначення та інфраструктура:
      p Нерухомість:  житлова новобудова;
      p Комерційні приміщення:  передбачено;
      p Паркінг:  відкритий;
      p Дитячий майданчик: передбачено;
      p Технічні параметри:
      p Поверховість: 12;
      p Конструкція: несучі стіни;
      p Матеріал: цегла;
      p Зовнішні стіни: цегла;
      p Утеплення: пінопласт;
      p Фасад: штукатурка;
      p Вікна: дерево та алюміній;
      p Дах: плаский;
      p Покрівля: рубероїд;
      p Висота стель: 3,3;
      p Опалення: індивідуальне