ul.object-address
   li.object-address__item
      strong.object-address__title Адреса:
      | Івано-Франківськ, вул. Пасічна, 63
   li.object-address__item
      strong.object-address__title Ціна(м2) від:
      | 8 500 грн.
   li.object-address__item
      strong.object-address__title Клас об'єкта:
      | Економ
   li.object-address__item
      strong.object-address__title Стан будівництва:
      |Зданий в експлуатацію