.object-reviews
   h2.object-reviews__header Перевірено від побудовано
   ul.object-reviews__list
      li.object-reviews__item
         h4.object-reviews__subtitle Реєстрація юридичної особи:
         p.object-reviews__text.
            ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "ПРИКАРПАТТЯ-АВТО" (ТОВ "ПРИКАРПАТТЯ-АВТО") 76018, Івано-Франківська обл., місто Івано-Франківськ, ВУЛИЦЯ СИМОНА ПЕТЛЮРИ, будинок 16. Засновник Гуменюк Ярослав Зіновійович. Дата запису в Єдиному державному реєстрі про проведення державної реєстрації юридичної особи.- 30.06.2005.
      li.object-reviews__item
         h4.object-reviews__subtitle Види діяльності
         p.object-reviews__text.
            Код КВЕД 74.90 Інша професійна, наукова та технічна діяльність, н. в. і. у.;
            Код КВЕД 41.20 Будівництво житлових і нежитлових будівель (основний)
      li.object-reviews__item
         h4.object-reviews__subtitle Суди/Виконавчі провадження
         p.object-reviews__text.
            Проти фірми Прикарпаття-авто відкрито два виконавчі провадження за 29 лютого 2016 та 08 лютого 2016 щодо заборгованості перед виконкомом пайової участі замовників будівництва. Згідно реєстру судових рішень, підприємство вже неодноразово перебувало у подібній ситуації.