include ../mixins/object-card
+object-card("Lorem ipsum dolor sit amet, consectetur adipisicing elit.", "Публікації", "https://placehold.it/260x175", "publication")
	| На офіційному веб-сайті Держенергоефективності запрацювала Інтерактивна карта місцевих програм відшкодування відсотків за «теплими»