include ../mixins/panel
+panel("Додати свою компанію", "register")
	.row
		.register__desc.col-xs-6.col-md-12 Тут ви можете додати свою компанію у список будівельних компаній міста Львів
		.col-md-12.col-xs-6
			a.btn-btn-success.register__btn(href="#") Додати