.shares-slider.carousel.slide(data-ride="carousel")
	// Indicators
	ol.carousel-indicators.shares-slider__indicators
		li.shares-slider__indicator(data-target=".shares-slider", data-slide-to="0", class="active")
		li.shares-slider__indicator(data-target=".shares-slider", data-slide-to="1")
		li.shares-slider__indicator(data-target=".shares-slider", data-slide-to="2")
	a(href="#").shares-slider__read Всі акції
	// Wrapper for slides
	.carousel-inner.shares-slider__inner(role="listbox")
		.item.shares-slider__item.clearfix.active
			.shares-slider__img-container
				img.shares-slider__img(src="https://placehold.it/375x250", alt="...")
			.shares-slider__text-container
				.carousel-caption.shares-slider__caption
					h3.shares-slider__title Доступне житло від БК "Мельник"
					.shares-slider__desc-container
						.shares-slider__desc На офіційному веб-сайті Держенергоефективності запрацювала Інтерактивна карта місцевих програм відшкодування відсотків за «теплими»
							a(href="#").shares-slider__readmore

		.item.shares-slider__item.clearfix
			.shares-slider__img-container
				img.shares-slider__img(src="https://placehold.it/375x250", alt="...")
			.shares-slider__text-container
				.carousel-caption.shares-slider__caption
					h3.shares-slider__title Доступне житло від БК "Мельник"
					.shares-slider__desc-container
						.shares-slider__desc На офіційному веб-сайті Держенергоефективності запрацювала Інтерактивна карта місцевих програм відшкодування відсотків за «теплими»
							a(href="#").shares-slider__readmore

		.item.shares-slider__item.clearfix
			.shares-slider__img-container
				img.shares-slider__img(src="https://placehold.it/375x250", alt="...")
			.shares-slider__text-container
				.carousel-caption.shares-slider__caption
					h3.shares-slider__title Доступне житло від БК "Мельник"
					.shares-slider__desc-container
						.shares-slider__desc На офіційному веб-сайті Держенергоефективності запрацювала Інтерактивна карта місцевих програм відшкодування відсотків за «теплими»
							a(href="#").shares-slider__readmore
