include ../mixins/object-card
+object-card("Lorem ipsum dolor.", "Топ 5", "https://placehold.it/260x175", "top-5")
	|Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, dignissimos ratione quod quo quos numquam. Ducimus blanditiis quidem a totam soluta voluptates minima commodi, neque temporibus fuga vel, saepe aliquam!