extends structure/_layout
include mixins/content-section
block title 
	| Головна сторінка
	
block content
	section.separate-section.news-slider-container
		+content-section()
			include components/news-slider
	section.separate-section.constructions-map-container
		+content-section("Карта забудов")
		.row
			.col-xs-12
				include components/constructions-map
	section.separate-section.publications-container
		+content-section("Публікації", "Всі публікації")
			.row.publications-container-row
				- for (var i = 0; i < 3; i++)
					.col-md-4.col-xs-6.publications-container-col
						include components/publication
	section.separate-section.verified-objects-slider-container
		+content-section()
			include components/verified-objects-slider
	section.separate-section.top5-conainer
		+content-section("Топ 5", "Всі публікації")
			.row.top5-conainer-row
				- for (var i = 0; i < 3; i++)
					.col-md-4.col-xs-6.top5-conainer-col
						include components/top5
	section.separate-section.shares-container
		+content-section("Акції")
			include components/shares-slider
	section.separate-section.scandalous-objects-section
		+content-section("Скандальні об'єкти", "Всі об'єкти")
			.row.scandalous-object__row
				- for (var i = 0; i < 3; i++)
					.col-xs-6.col-sm-4.scandalous-object__col
						include components/scandalous-object