footer.footer
	.container
		.row
			.col-xs-6.col-md-4.footer__dev-text-container
				.footer__dev-text
					| Розроблено
					a.footer__catchup-logo(href="#")
					| &amp;
					a.footer__tackle-logo(href="mailto:support@tackle.software") tackle{software}
			.col-xs-6.col-md-4.center-block.footer__copyright
				| © 2016 Побудовано у Львові. Всі права захищено.
			.col-xs-4.footer__nav-socials-container.hidden-xs.hidden-sm
				include ../components/nav-socials