flaticon-add-circular-outlined-button()
	content: "\f100"
	font-family: Flaticon;
flaticon-book()
	font-family: Flaticon;
	content: "\f101"
flaticon-building()
	font-family: Flaticon;
	content: "\f102"
flaticon-business()
	font-family: Flaticon;
	content: "\f103"
flaticon-calendar()
	font-family: Flaticon;
	content: "\f104"
flaticon-chat-comment-oval-speech-bubble-with-text-lines()
	font-family: Flaticon;
	content: "\f105"
flaticon-checked()
	font-family: Flaticon;
	content: "\f106"
flaticon-share()
	font-family: Flaticon;
	content: "\f107"
flaticon-trophy()
	font-family: Flaticon;
	content: "\f108"
