icon-container()
	position relative
	padding-left: 20px
	
icon(bg, t = 50%, l = 0, w = 16px, h = 16px)
	position absolute
	//background url(bg) no-repeat center
	content ''
	top t
	left l
	margin-top: -(h / 2)
	width w
	height h