label(bg = main-green-color, fz = 14px)
	position absolute
	top 19px
	left 25px
	font-size 13px
	font-family "Roboto Regular"
	font-weight: lighter
	letter-spacing: .15px
	background bg
	border-radius 25px
	padding 5px 16px